$font-sans-serif: "Poppins", Helvetica, Arial, Sans-Serif;

$mobile-breakpoint: 767px;

$color-text: #000;
$color-pink: #f3796a;
$color-blue: #2A5680;
$color-gradient1: #615782;
$color-gradient2: #19508d;
