//$font-sans-serif: "Poppins", Helvetica, Arial, Sans-Serif;
$font-sans-serif: Helvetica, Arial, Sans-Serif;
$font-serif: "Libre Baskerville", Georgia, Serif;
$font-headline: "Coda Caption", Helvetica, Arial, Sans-Serif;

$mobile-breakpoint: 767px;

$color-text: #000;
$color-pink: #f3796a;
$color-blue: #2A5680;

$color-gradient1: #615782;
$color-gradient2: #19508d;

$color-green: #3F8F73;
$color-lightblue: #3A9FB3;
$color-purple: #8B54DB;
$color-darkpink: #7A587A;
